body, html {
	margin: 0;
	padding: 0;
}

.z-behind {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax-section {
	position: relative;
}

.cat-section {
	height: 1000px;
	background: green;
}

.car-section {
	height: 1000px;
	background: red;
}

.cat {
	position: absolute;
	background: url(imgs/masks.png) no-repeat 0 -305px;
	width: 632px;
	height: 507px;
	top: 300px;
	left: 0;
}

.car {
	position: absolute;
	background: url(imgs/masks.png) no-repeat 0 0;
	width: 912px;
	height: 302px;
	top: 700px;
	left: 0;
}